/* -------  General Styles ------- */

body {
    font-family: "Lato", sans-serif;
    color: #6b1a22;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px 15px 10px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    line-height: 1.5em;
    margin: 0;
}

section {
    padding: 20px;
    width: 100%;
}

section.alternate-background {
    background-color: #a35766;
    color: #ecdbc9;
}

main img {
    width: 100%;
    height: 215px;
    
}


/* ---  Groups & Items --- */

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


/* -------  Navigation ------- */

header {
    background-color: #83092e;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.logo {
    font-family: "Tangerine", cursive;
    font-size: 72px;
    color: #ecdbc9;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
}

header nav ul li a {
    color: #ecdbc9;
    text-decoration: none;
    padding: 0 20px 0px 0;
}

header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
}


/* -------  Join Form ------- */

form {
    border: 2px solid #6b1a22;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

form label {
    font-weight: bold;
}

form select,
form input {
    justify-self: flex-end;
    margin-bottom: 20px;
    width: 180px;
}

form button {
    background-color: #83092e;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
}


/* -------  Footer ------- */

footer {
    background-color: #83092e;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* -------  Media Query ------- */

@media all and (min-width: 480px) {
    header .group {
        justify-content: space-between;
    }
    .logo {
        font-size: 48px;
        text-align: left;
    }
    #join img {
        height: 450px;
    }
    #download img {
        height: 450px;
    }
    .group {
        align-items: center;
        flex-flow: row wrap;
    }
    #blog .group img {
        height: 300px;
    }
}
